/* navbar */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #aa8b56;
  display: flexbox;
}

.active {
  background-color: #4e6c50;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #f0ebce;
  color: #395144;
}

/* isi konten */
.container {
  background-color: #4e6c50;
  color: #f0ebce;
  border: 5px solid #395144;
  padding: 20px;
  display: flex;
}

.container div {
  margin: 20px;
}

.table {
  background-color: #aa8b56;
}

.form button {
  outline: none;
  border-radius: 20px;
  width: 100px;
  border: 2px solid #395144;
  color: #395144;
}
